{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Inicio{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Inicio{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Inicial Paralelo A</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Estudiantes:</h6>

                        <p class="card-text">2</p>
                        <a href="/teacher/parallel/1" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Inicial Paralelo B</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Estudiantes:</h6>

                        <p class="card-text">2</p>
                        <a href="/teacher/parallel/2" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    //
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->